
html, body, #root {
  height: 100%;
}

body {
  margin: 0;
}

/*.table-operations {*/
  /*margin-top: 16px;*/
  /*margin-bottom: 16px;*/
/*}*/

/*.table-operations > button {*/
  /*margin-right: 8px;*/
/*}*/
/*.ant-tabs-bar{*/
  /*margin-bottom: 0px;*/
/*}*/

/*.ant-advanced-search-form {*/
  /*padding: 24px;*/
  /*background: #fbfbfb;*/
  /*border: 1px solid #d9d9d9;*/
  /*border-radius: 6px;*/
/*}*/

/*.ant-advanced-search-form .ant-form-item {*/
  /*display: flex;*/
/*}*/

/*.ant-advanced-search-form .ant-form-item-control-wrapper {*/
  /*flex: 1;*/
/*}*/



/*#components-layout-demo-custom-trigger .trigger {*/
  /*font-size: 18px;*/
  /*line-height: 64px;*/
  /*padding: 0 24px;*/
  /*cursor: pointer;*/
  /*transition: color 0.3s;*/
/*}*/

/*#components-layout-demo-custom-trigger .trigger:hover {*/
  /*color: #1890ff;*/
/*}*/

/*#components-layout-demo-custom-trigger .logo {*/
  /*height: 32px;*/
  /*background: rgba(255, 255, 255, 0.2);*/
  /*margin: 16px;*/
/*}*/


/*.ant-tabs-nav .ant-tabs-tab {*/
  /*margin: 0;*/
/*}*/


.ant-tabs.ant-tabs-card .ant-tabs-card-bar .ant-tabs-tab {
  margin-right: 0px;
  padding: 0 16px;
  background: #fafafa;
  border-radius:0;
  border: 0;
  border-left: 1px solid #e8e8e8;
  border-bottom: 1px solid #e8e8e8;
  /*box-shadow: 0 2px 8px #f0f1f2;*/
}

.ant-tabs.ant-tabs-card .ant-tabs-card-bar .ant-tabs-tab:last-child {
  border-right: 1px solid #e8e8e8;
}
.ant-tabs-nav-container{
  box-shadow: 0 2px 8px #f0f1f2;

}
